
android-analytics/\.gradle/

android-analytics/\.idea/

kotlin-analytics/\.idea/

kotlin-analytics/\.gradle/

*.iml

android-analytics/local\.properties

kotlin-analytics/local\.properties

kotlin-analytics/build/

android-analytics/build/
